.SongsListElement {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 13px 0;
}

.SongsListElement:hover {
    background-color: #000;
    cursor: pointer;
}

.SongsListElement:hover .SongsListElementLink{
    color: #FFF;
}

.SongsListElementLink {
    font-size: 1em;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.SongsListElementTitle {
    margin: 0;
    margin-left: 40px;
}