.Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Title {
    font-size: 32px;
    color: #FFF;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.Text {
    font-weight: 300;
    font-size: 18px;
    color: #FFF;
    width: 100%;
    text-align: center;
    margin: 0;
}